doctype htm
html
    head
        title #{title}
        link(rel="stylesheet", href="/public/css/styles.css")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUXIcXT_AhcCZ8BXAcyn0OUfXN1LnRkgw")
        script(src="//vk.com/js/api/openapi.js")
        script(src="/public/js/vendor.js")
        script(src="/public/js/app.js")
        script.
            window.isAuthorized = function() {
                return #{isAuthorized};
            }
            window.getUser = function() {
                return null;
            }
            window.config = {};
            window.config.lon = #{lon};
            window.config.lat = #{lat};
            window.config.zoom = #{zoom};
            window.config.facebookAppId = #{facebookAppId};
            window.config.vkAppId = #{vkAppId};
    body(id="app")
        div(id="map")
        div(id="deck")
        div(id="modal-container")
            div(id="modal")
        div(id="templates", style="display:none") !{templates}
